# Exclude these files from the git repo

*~
*[Tt]humbs.db
*.bak
*.log
*.swp
.cvs
.DS_Store
.htaccess
.svn
*.Trashes
readme.html
robots.txt
sitemap*.*
sitemap.*
sitemap.xml
sitemap.xml.gz
Thumbs.db
wp-config.php
wp-content/advanced-cache.php
wp-content/cache/
wp-content/cache/*
wp-content/backup/*
wp-content/backups/
wp-content/backup-db/
wp-content/blogs.dir/
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/wp-cache-config.php

# Include these files in previously blocked directories
!wp-content/uploads/.htaccess