body {
  div.main {
    section.main-page {
      div.page-content {
        width: 100%;
        padding: 10px 15%;
        background-color: #fff;
        article.page-post {
          overflow: hidden;
          max-width: 800px;
          margin: 0 auto;
          padding-bottom: 20px;
          h1 {}
          p {
            font-weight: 300;
          }
          div {
            font-weight: 300;
          }
        }
      }
    &.team {
      div.member {
        text-align: center;
        img {
          margin: 15px;
          @include border-radius(50%);
        }
        h2 {
          margin: 10px 0px;
        }
        ul {
          padding: 0;
          list-style: none;
          list-style-image: none;
          li {
            display: inline;
            padding: 5px;
            font-size: 1.8em;
            a {
              i {

              }
            }
          }
        }
      }
    }
    }
  }
}