body {
	div.wrapper {
		div.main {
			section.main-single {
				div.single-content {
			    padding: 10px 15%;
			    width: 100%;
			    background-color: $white;
					article.single-post {
			    	overflow: hidden;
			    	max-width: 800px;
			    	margin: 0 auto;
			    	padding-bottom: 20px;
						div.single-post-image {
							img {
								width: 100%;
								height: auto;
							}
						}
						div.single-post-title {

						}
						div.single-post-content {
							p {
								font-size: 16px;
								font-weight: 300;
							}
							img {
								margin: 10px;
								border: 1px solid $h-gray;
							}
							a {
								color: #666666;
								&:hover {
									color: #333333;
								}
							}
						}
					}
					aside.single-info {
						overflow: hidden;
						max-width: 800px;
						margin: 0 auto;
						border-top: 1px solid $gray;
						div.single-info-avatar {
							position: relative;
							float: left;
							height: 100px;
							width: 100px;
							padding: 10px;
							img {
								@include vendor-prefix(border-radius, 50%);
							}
						}
						div.single-info-vcard {
							position: relative;
							float: left;
							max-width: 700px;
							padding: 10px;
							h2 {
								margin: 0;
							}
						}
						div.single-info-description {
							clear: both;
							padding: 10px;
						}
					}
				}
			}
		}
	}
}